.topo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

button img{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

button{
    border-radius: 25px;
}
