.card{
    width: 24vw;
    border:1px solid rgb(219, 219, 219);
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card:hover{
    background-color: #feb633;
}

@media screen and (min-width:768px) and (max-width:1023px){
    .card{
        width: 95%;
    }

    .card p{
        font-size: 19px;
    }

    .card h3{
        font-size: 29px;
    }
}

@media screen and (min-width:375px) and (max-width:767px){
    .card{
        width: 100%;
        padding: 60px 20px;
    }

    .card h3{
        font-size: 24px;
    }
}