.Exp{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Experiencia{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    padding: 30px;
    gap: 30px;
}

.titulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Experiencia .titulo h1{
    font-size: 36px;
    padding: 10px;
}

.titulo hr{
    width: 90px;
    border: 2px solid #feb633;
}

.descricao{
    font-size: 16px;
    text-align: center;
    width: 80%;
}

.cards{
    display: flex;
}


.corFundoBranco{
    background-color: #f6f8fc;
    color:#8a8fa3
}

.corFundoBranco h1, .corFundoBranco h3{
    color: #32333c;
}

.corFundoBranco p{
    color:#8a8fa3;
}

.corFundoPreto{
    background-color: #393838;
}

.corFundoPreto .card{
    border: 1px solid #585757;
}

.corFundoPreto h1, .corFundoPreto h3{
    color:#CCCCCC;
}

.corFundoPreto p{
    color:#9F9F9F
}

@media screen and (min-width:768px) and (max-width:1023px){

    .Experiencia{
        width: 100%;
    }

    .Experiencia .titulo h1{
        font-size: 45px;
    }

    .Experiencia .descricao{
        font-size: 19px;
        width: 100%;
    }

    .cards{
        flex-direction: column;
        padding: 40px 0;
    }
}

@media screen and (min-width:375px) and (max-width:767px){

    .Experiencia{
        width: 100%;
    }

    .Experiencia .titulo h1{
        font-size: 45px;
    }

    .Experiencia .descricao{        
        font-size: 16px;
        width: 88vw;
        text-align: center;
    }

    .cards{
        flex-direction: column;
        padding: 60px 0;
    }
}